

:root {

  /**
   * colors
   */

  --rich-black-fogra-29: hsl(230, 14%, 9%);
  --gray-x-11-gray: hsl(0, 0%, 73%);
  --oxford-blue_a15: hsla(216, 65%, 10%, 0.15);
  --yellow-green: hsl(86, 54%, 51%);
  --smoky-black: hsl(0, 0%, 6%);
  --black-coral: hsl(231, 6%, 40%);
  --light-gray: hsl(0, 0%, 80%);
  --cultured: hsl(240, 10%, 94%);
  --white: hsl(0, 0%, 100%);
  --white_a30: hsla(0, 0%, 100%, 0.3);
  --black: hsl(0, 0%, 0%);

  /**
   * typography
   */

  --ff-quicksand: "Quicksand", sans-serif;
  --ff-nunito_sans: "Nunito Sans", sans-serif;
  
  --fs-1: 5.5rem;
  --fs-2: 3.6rem;
  --fs-3: 3.2rem;
  --fs-4: 2.6rem;
  --fs-5: 2.4rem;
  --fs-6: 2.2rem;
  --fs-7: 2rem;
  --fs-8: 1.8rem;
  --fs-9: 1.5rem;
  --fs-10: 1.4rem;
  --fs-11: 1.3rem;
  
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * spacing
   */

  --section-padding: 40px;

  /**
   * box shadow
   */

  --shadow: 0 15px 40px 0 hsla(224, 24%, 47%, 0.1);

  /**
   * border radius
   */

  --radius-circle: 50%;
  --radius-60: 60px;
  --radius-50: 50px;
  --radius-30: 30px;
  --radius-20: 20px;
  --radius-15: 15px;
  --radius-5: 5px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}

*{
  margin: 0px;
  padding: 0px;
}


.navbar1{
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  hsl(86, 54%, 51%);

}

.logo{
  margin-left: 32px;
  margin-bottom: 10px;
}
.headerlinks{
  list-style-type: none;
  display: flex;
  gap: 27px;
  margin-right: 20px;
  margin-bottom: 10px;
  
}


.headerlinks li a{
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.headerlinks li a:hover{
  transition: 0.5s;
 color: black;
 }

.nmbrandbtn{
  display: flex;
  gap: 15px;
  align-items: center;
  margin-right: 40px;
  margin-bottom: 10px;
}

.nmbr{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 30px;
}
.nmbr a{
  text-decoration: none;
 
}
.nmbr:hover{
  color: white;
  cursor: pointer;
}
.btn{
  padding: 20px 20px;
  background-color: black;
  border-radius: 30px;
}
.btn a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.btn:hover{
  background-color: white;
  transition: 0.5s;
}
.btn a:hover{
  color: black;
}

.gallerysection{
  padding-top: 70px;
  background-color:  hsl(86, 54%, 51%);
}
.gallerytitle{
  padding-bottom: 20px;
  font-size: 40px;
  color: white;
}
.gallerysbt{
  color: white;
  font-size: 25px;
}

.blogparas{
  background-color:  hsl(86, 54%, 51%);
  padding-top: 70px;
  padding-left: 100px;
  padding-right: 140px;
  padding-bottom: 90px;
}
.blog{
  font-size: 48px;
  color: black;
  font-weight: bold;
}
.blog:hover{
  transition: 0.5s;
  color: white;
  cursor: pointer;
}
.firstparagraph{
  color: black;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}
.firstparagraph:hover{
  transition: 0.5s;
  color: white;
  cursor: pointer;
}
.secondparagraph{
  color: black;
  font-size: 25px;
}
.secondparagraph:hover{
  transition: 0.5s;
  color: white;
  cursor: pointer;
}


.footer{
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: black;
 padding-top: 70px;
 padding-left: 140px;
 padding-bottom: 60px;
}
.footerlinks ul{
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.footerlinks ul li a{
  text-decoration: none;
  color: rgb(142, 139, 139);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.footerlogo{
  margin-right: 40px;
}
.icons{
  margin-right: 190px;
}
.iconbtn1{
  background-color: black;
  padding: 22px 22px;
  border: solid 1px rgb(60, 58, 58);
  margin-right: 5px;
}
.iconbtn1:hover{
  background-color: hsl(86, 54%, 51%);
}
.iconbtn2{
  background-color: black;
  padding: 22px 22px;
  border: solid 1px rgb(60, 58, 58);
  margin-right: 5px;
}
.iconbtn2:hover{
  background-color: hsl(86, 54%, 51%);
}
.iconbtn3{
  background-color: black;
  padding: 22px 22px;
  border: solid 1px rgb(60, 58, 58);
  margin-right: 5px;
}
.iconbtn3:hover{
  background-color: hsl(86, 54%, 51%);
}
.iconbtn4{
  background-color: black;
  padding: 22px 22px;
  border: solid 1px rgb(60, 58, 58);
  margin-right: 5px;
}
.iconbtn4:hover{
  background-color: hsl(86, 54%, 51%);
}
